.message_list_sector {
  width: 1170px;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  overflow: auto;
  background: #2c2c2c;
  padding-bottom: 20px;
}
